:root {
  --company-color-lightred: rgb(227, 0, 69);
  --company-color-red: rgb(155, 1, 055);
  --text-color-white: #fefefe;
  --text-color-grey: grey;
  --background-color-lightgrey: #343434;
  --background-color-darkgrey: #252525;
}

/* Globální styly pro celé React aplikaci */

body html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--text-color-white);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: hidden;
}

/*            */
/* CONTAINERS */
/*            */
.container-hero-image {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.container-content-numbers {
  position: relative;
  top: 320px;
  z-index: 1;
  background-color: var(--background-color-darkgrey);
  border-radius: 10px;
}

.container-content-main {
  color: var(--text-color-white);
  background-color: var(--background-color-lightgrey);
}

.container-content-main.sections {
  padding: 0px 0px 100px 0px;
}

.container-content-main.sections.firstone {
  padding: 300px 0px 150px 0px;
  margin-top: 180px;
}

.container-content-second {
  padding: 100px 0px 80px 0px;
  background-color: var(--background-color-darkgrey);
}

/* footer */
.container-content-second.center {
  padding: 30px 0px 30px 0px;
  background-color: var(--background-color-darkgrey);
  color: var(--text-color-grey);
}

/*footer*/
.container-content-second.line {
  border-top: 1px solid rgb(60, 60, 60);
  padding: 0px;
  margin: 0px 300px 0px 300px;
  background-color: var(--background-color-darkgrey);
}

/*                  */
/* CONTAINERS konec */
/*                  */

/* -----*/
/* LOGO */
/* -----*/

/* .logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo-image-one {
  margin: 30px 60px 30px 20px;
}
.logo-image-one.stacky {
  filter: grayscale(100%);
} */

.logo-image-contact-container {
  width: 100%;
  margin-bottom: 10px;
}

.logo-image-contact-container.size {
  width: 30%;
  height: 30%;
}

/* ---------- */
/* LOGO konec */
/* ---------- */

/* ------ */
/* FONTY */
/* ------ */

.hero-claim {
  position: relative;
  top: 2.3em;
  z-index: 1;
  font-size: clamp(2rem, 15vw, 120px);
  font-weight: 700;
  line-height: 1.25em;
  color: var(--text-color-white);
  margin: 0em 1em 2.8em 1em;
  word-break: break-word;
}

.font-white {
  color: var(--text-color-white);
}

.font-grey {
  color: var(--text-color-grey);
}

.font-grey.contact {
  line-height: 30px;
}

/* důležitá sdělení */
.font-important {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 600;
  word-break: break-word;
}

.font-important.numbers {
  word-break: normal;
  font-size: 50px;
  margin-bottom: 0px;
}
/* názvy sekcí */
.font-section-name {
  color: var(--text-color-grey);
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
}

.font-section-name.white {
  color: var(--text-color-white);
}

.font-important-redlight {
  color: var(--company-color-lightred);
}

/* ---------- */
/* FONTY konec*/
/* ---------- */

/* ----- */
/* DALŠÍ */
/* ----- */

@media screen and (max-width: 1400px) {
  .services-img.hide {
    display: none;
  }
  .fs-5.font-white {
    margin-top: 15.5em;
  }
  .hero-claim {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .font-important {
    font-size: 35px;
    margin-bottom: 0px;
  }
  .fs-5.font-white {
    margin-top: 10.5em;
    margin-right: 10.5;
  }
  .hero-claim {
    margin: 1em 0;
  }
}

@media screen and (max-width: 576px) {
  .hero-claim {
    margin: 0.5em 0.5em;
    padding-bottom: 50px;
  }
  .fs-5.font-white {
    margin-top: 7em;
    margin-right: 1em;
    padding-top: 10px;
  }
  .triangle {
    display: none;
  }
}
.stack-img {
  filter: grayscale(100%);
}

.services-img {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  padding: 5px;
  overflow: hidden; /* Zajistí, že popisek nevystoupí mimo obrázek */
  transition: transform 0.1s ease;
}

.services-img:hover img {
  transform: scale(1.1);
}

.services-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Zajistí, že obrázek 
  vyplní kontejner */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.4); /* Poloprůhledné pozadí */
  padding: 5px 10px;
  text-align: center;
  border-radius: 15px;
  pointer-events: none; /* Zamezí interakci s textem */
}

.team-container {
  position: relative;
}

.team-container-img {
  border-radius: 15px;
}

.background-block {
  background-color: var(--background-color-darkgrey);
}

/* ----------- */
/* DALŠÍ konec */
/* ----------- */

/* ------------ */
/* POSUVNÝ TEXT */
/* ------------ */
.marquee1 {
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
  position: relative; /* Aby se správně aplikovala animace */
}

/* Nastavení pro samotný běžící text */
.marquee-text1 {
  display: inline-block; /* Důležité pro horizontální posun */
  font-size: 120px; /* Velikost textu */
  font-weight: 700; /* Tlustší obrys */
  color: transparent; /* Červená barva textu */
  -webkit-text-stroke: 1px var(--company-color-lightred); /* Obrys textu */
  padding: 10px; /* Padding pro orámování */

  white-space: nowrap; /* Zamezí zalamování textu */
  animation: marquee 70s linear infinite; /* Animace běhu textu */
}

/* Animace běhu textu zprava do leva */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ------------------- */
/* POSUVNÝ TEXT konec  */
/* ------------------- */

/* ------------------- */
/* TROJÚHELNÍK         */
/* ------------------- */

.triangle {
  width: 0;
  height: 0;
  border-left: 3mm solid transparent;
  border-right: 3mm solid transparent;
  border-bottom: 4mm solid var(--company-color-lightred);
  position: absolute;
  top: var(--triangle-top, 0); /* Defaultně 0 */
  left: var(--triangle-left, 0); /* Defaultně 0 */
  transform-origin: center center; /* Střed otáčení */
  animation: rotate linear infinite var(--triangle-speed);
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
