.main-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 15px 15px;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

.main-menu.scrolled {
  background-color: #181818;
}
