.main-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 15px 15px;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

.main-menu.scrolled {
  background-color: #181818;
}

.navbar-toggler {
  border: 2px solid gray !important; /* Viditelné šedé ohraničení */
  border-radius: 4px; /* Volitelné zaoblení */
}

.navbar-toggler-icon {
  background-image: linear-gradient(gray, gray), linear-gradient(gray, gray),
    linear-gradient(gray, gray); /* Tři čáry */
  background-size: 20px 2px, 20px 2px, 20px 2px; /* Šířka a tloušťka čar */
  background-position: center 6px, center 12px, center 18px; /* Rozestupy mezi čarami */
  background-repeat: no-repeat;
  background-color: transparent; /* Bez pozadí */
}
